{% extends "base.html" %} {% load static %} {% block content %}
<div
  class="w-[92%] bg-white rounded p-5 mx-auto min-h-full flex flex-col justify-start items-center">
  <div class="p-2 w-full md:w-1/2 h-fit m-10">
    <div class="grid p-2">
      <h1
        class="text-center font-Kanit font-bold text-xl text-dark md:text-left"
      >
      Unidad 2
      </h1>
      <p class="w-full text-center font-Kanit text-md mt-5 text-dark md:text-left self-center">
        Abordando las tematicas referente a la unidad 2, se tienen los siguientes temas: <strong>capitalizacion y amortizacion</strong>, <strong>tasa de retorno</strong>, <strong>gradientes</strong>
      </p>
      <div class="mt-5">
        <a href="{% url 'capitalization_amortization' %}">
          <button
            class="select-button"
          >
          Capitalizacion y Amortizacion
          </button>
        </a>
      </div>

      <div class="">
          <a href="{% url 'return_tax' %}">
            <button
            class="select-button"
          >
          Tasa de Retorno
            </button>
          </a>
        </div>

        <div class="">
          <a href="{% url 'gradients' %}">
            <button
            class="select-button"
          >
              Gradientes
            </button>
          </a>
        </div>
    </div>
  </div>
</div>
{% endblock %}
